<div class="app-media">
  <div class="app-media__thumbnail">
    <ng-container *ngIf="media.type === 'image'">
      <div
        *ngIf="!image.thumbnail"
        class="app-media__thumbnail__loader"
      ></div>

      <img
        *ngIf="image.thumbnail"
        [src]="'file://' + media.thumbnail"
        [alt]="media.name"
      >
    </ng-container>

    <ng-container *ngIf="media.type === 'video'">
      <video
        #video
        [src]="'file://' + media.path"
        (mouseenter)="play()"
        (mouseleave)="pause()"
      ></video>

      <div class="app-media__thumbnail__video-duration">{{ duration }}</div>
    </ng-container>
  </div>
</div>