<div class="app-media">
  <div class="app-media__thumbnail">
    <div
      *ngIf="media.type === 'image' && !media.thumbnail"
      class="app-media__thumbnail__loader"
    ></div>

    <img
      *ngIf="media.type === 'image' && media.thumbnail"
      [src]="'file://' + media.thumbnail"
      [alt]="media.name"
    >

    <video
      #video
      *ngIf="media.type === 'video'"
      [src]="'file://' + media.path"
      (mouseenter)="play()"
      (mouseleave)="pause()"
    ></video>
    <div *ngIf="media.type === 'video'" class="app-media__thumbnail__video-duration">
      {{ duration }}
    </div>
  </div>
</div>