<div *ngIf="open" class="app-slideshow">
  <div class="app-slideshow__header">
    <div class="app-slideshow__header__back-button-ghost"></div>

    <div class="app-slideshow__header__info">
      <div class="app-slideshow__header__info__counter">{{ index + 1 }} of {{ medias.length }}</div>

      <div class="app-slideshow__header__info__info">
        {{ medias[index].name }}
        <span *ngIf="medias[index].date">
          ({{ medias[index].date | date: 'longDate' }}, {{ medias[index].date | date: 'shortTime' }})
        </span>
      </div>
    </div>

    <div class="app-slideshow__header__back-button" (click)="close()">
      <i class="fas fa-times"></i>
    </div>
  </div>

  <div class="app-slideshow__media">
    <img
      *ngIf="medias[index].type === 'image'"
      [src]="'file://' + medias[index].path"
      [alt]="medias[index].name"
    >

    <video
      #video
      *ngIf="medias[index].type === 'video'"
      [src]="'file://' + medias[index].path"
      controls
      disablePictureInPicture
    ></video>
  </div>
</div>
