<div class="top">
  <div class="group">
    <div class="title">Views</div>

    <div class="list">
      <div
        *ngFor="let viewId of VIEWS | ngForObject"
        (click)="chooseView(viewId)"
        [ngClass]="{ selected: viewId === viewType }"
      >
        {{ view | json }}
        <i [ngClass]="VIEWS[viewId].icon"></i>{{ VIEWS[viewId].name }}
      </div>
    </div>
  </div>
</div>

<div class="bottom">
  <div class="progress" *ngIf="progress >= 0">
    <label for="aside-progress" *ngIf="label">{{ label }}</label>
    <progress id="aside-progress" max="1" [value]="progress"></progress>
  </div>
</div>
