@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18.0rem;
  padding: $gutter;
  border-right: $border;
  background-color: $grayXXS;

  .top {
    .group {
      user-select: none;

      .title {
        margin-bottom: $gutterS;
        color: $grayXL;
        font-size: $textSizeS;
        font-weight: $fontWeightXL;
      }

      .list {
        margin: 0 #{-$gutter};

        & > div {
          padding: 0.4rem 0 0.4rem #{$gutter + $gutterL};
          color: $grayXXL;
          font-weight: $fontWeightL;

          &.selected {
            background-color: $gray;
          }

          i {
            width: 1.6rem;
            margin-right: $gutterS;
            text-align: center;
          }
        }
      }
    }
  }

  .bottom {
    .progress {
      label {
        font-size: $textSizeS;
        word-break: break-all;
      }

      progress {
        width: 100%;
      }
    }
  }
}
