/* ============================================================================================== */
/* FONTS */
/* ============================================================================================== */

$fonts: 'Helvetica Neue', Arial, sans-serif;

$fontSizeRoot: 10px;

$textSizeXS: 1.0rem;
$textSizeS: 1.2rem;
$textSize: 1.4rem;

$titleSize: 2.8rem;

$fontWeight: 400;
$fontWeightL: 500;
$fontWeightXL: 600;


/* ============================================================================================== */
/* COLORS */
/* ============================================================================================== */

$blueS: #75D2FB;
$blue: #359BF5;

$grayXXS: #F6F6F6;
$grayXS: #EAEAEA;
$grayS: #E5E5E5;
$gray: #DDDDDD;
$grayL: #CECECE;
$grayXL: #777777;
$grayXXL: #424242;


/* ============================================================================================== */
/* GUTTERS */
/* ============================================================================================== */

$gutterXS: 0.2rem;
$gutterS: 0.5rem;
$gutter: 1.0rem;
$gutterL: 1.5rem;
$gutterXL: 2.0rem;
$gutterXXL: 5.0rem;


/* ============================================================================================== */
/* MISC */
/* ============================================================================================== */

$radius: 0.3rem;
$borderS: 0.1rem solid $grayXS;
$border: 0.1rem solid $gray;
$transition: all .2s ease;
