@import 'variables';

:host {
  margin: $gutterS;
  margin-bottom: 0;

  border-bottom: $borderS;

  .app-header {
    &__content {
      padding: $gutter;
      padding-bottom: $gutterS;

      &__row {
        display: flex;
        justify-content: space-between;
      }

      &__current-folder-path {
        flex: 1;
      }

      &__current-folder-name {
        font-size: $titleSize;
        font-weight: $fontWeightXL;
      }
    }
  }
}
