@import 'variables';

:host {
  margin: $gutterS;
  margin-bottom: 0;

  border-bottom: $borderS;

  .app-header {
    &__content {
      padding: $gutter;
      padding-bottom: $gutterS;

      &__row {
        display: flex;
        justify-content: space-between;
      }

      &__current-folder-path {
        flex: 1;
      }

      &__current-folder-name {
        margin-bottom: $gutter;

        font-size: $titleSize;
        font-weight: $fontWeightXL;
      }

      &__info {
        color: $grayXL;
        font-size: $textSizeS;
      }

      &__filters {
        display: flex;

        &__filter {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            margin-right: $gutter;
          }

          & > label {
            padding-left: $gutterS;
            user-select: none;
            font-size: $textSizeS;
          }
        }
      }
    }
  }
}
