<div class="preview">
  <i
    *ngIf="!folder.imagePreview && !folder.videoPreview"
    class="placeholder far fa-image"
  ></i>

  <img
    *ngIf="folder.imagePreview"
    class="image"
    [src]="'file://' + folder.imagePreview"
    [alt]="folder.name"
  >

  <video
    *ngIf="folder.videoPreview && !folder.imagePreview"
    class="video"
    [src]="'file://' + folder.videoPreview"
  ></video>
</div>

<div class="date" *ngIf="folder.isEvent">
  {{ folder.start | date: 'mediumDate' }}
  <ng-container *ngIf="folder.start !== folder.end">
    - {{ folder.end | date: 'mediumDate' }}
  </ng-container>
</div>

<div class="name">
  {{ folder.prettyName }}
</div>
