@import 'variables';

.app-home {
  &__folders ~ &__medias {
    margin-top: $gutterXXL - $gutterS;
  }

  &__folders, &__medias {
    margin: -$gutterS;

  }

  &__file {
    padding: $gutterS;
  }
}
