<div *ngIf="loading" class="spinner">
  <i class="fas fa-circle-notch fa-spin"></i>
</div>

<ng-container *ngIf="!loading">
  <div
    *ngIf="fileList && fileList.nbFolders && filters.show.folder"
    class="folders row"
  >
    <app-folder
      *ngFor="let folder of fileList.folders"
      class="file col-2"
      [folder]="folder"
      (click)="cd(folder)"
    ></app-folder>
  </div>
  
  <div
    *ngIf="fileList && fileList.nbMedias"
    class="medias row"
  >
    <ng-container *ngFor="let media of filteredMediaList; let i = index">
      <app-media
        class="file"
        [ngClass]="sizeClass"
        [media]="media"
        (onClick)="openSlideshow(i, $event)"
      ></app-media>
    </ng-container>
  </div>
</ng-container>
