@import 'variables';

.spinner {
  display: flex;
  justify-content: center;

  i {
    font-size: 2.5rem;
  }
}

.folders ~ .medias {
  margin-top: $gutterXXL - $gutterS;
}

.folders, .medias {
  margin: -$gutterS;

}

.file {
  padding: $gutterS;
}
