:host {
  & > *:not(div):not(:last-child) {
    margin-bottom: 20px;
  }

  & > div {
    display: flex;

    margin-top: 5px;

    & > *:not(:last-child) {
      margin-right: 10px;
    }

    & > div {
      & > label {
        margin-left: 5px;

        font-size: 12px;
        text-transform: capitalize;
      }
    }
  }
}
